.contenedor-registrar{
    width: 100%;
    height: 530px;
    display:flex;
    justify-content: center;
    background-color: white;
    padding: 60px 0px;
}
.tarjeta{
    width: 400px;
    height: 550px;
    background: linear-gradient(135deg, #6b4cf6, #7a60f7, #9ddaff);
    padding: 40px 40px;
    color:white;
    border-radius: 10px;
    text-align: center;
}
.tarjeta h1{
    font-size: 24px;
}
.tarjeta p{
    font-size: 11px;
}
.arriba{
    display:flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 4px;
}
.arriba input{
    width: 145px;
    border-radius: 10px;
    height: 30px;
    padding: 10px 20px;
    border: none;
}
.medio{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 8px;
}
label{
    text-align: left;
    font-size: 13px;
    font-weight:600;
}
input{
    border-radius: 10px;
    height: 30px;
    padding: 10px 20px;
    border: none;
    outline: none;
}
select{
    border-radius: 10px;
    height: 30px;
    padding: 5px 20px;
    border: none;
    outline: none;
}
.boton{
    width: 100%;
    padding: 20px;
}
.btn-registrar{
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background-color:rgb(161, 161, 255);
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.abajo{
    text-align:center;
    font-size: 14px;
}
.abajo span{
    margin-right: 5px;
}
.abajo a{
    font-weight: bold;
    color: white;
}
